<template>
  <div class="PlatformPlantingView">
    {{ getList }}
  </div>
</template>

<script>

export default {
  name: 'PlatformPlanting',
  computed: {
    getList() {
      return this.$store.getters['plants/list'];
    },
  },
  async created() {
    await this.$store.dispatch('plants/getPlants');
  },
};
</script>
