<template>
  <div class="PlatformView"
       id="platform"
  >
    <TheNavigation/>
    <router-view :key="$route.fullPath"/>
  </div>
</template>

<script>
import TheNavigation from '@/components/TheNavigation';

export default {
  name: 'Platform',
  components: { TheNavigation },
};
</script>
<style lang="sass" scoped>
  .PlatformView
    position: relative

    &__menu
      position: fixed
</style>
