<template>
  <div id="app"
       ref="application"
       class="App"
  >
    <router-view/>
  </div>
</template>

<style lang="sass">
  #app
    height: 100%
    overflow-y: hidden
    width: 100%
</style>
