<template>
  <div class="TheNavigation">
    <el-menu :default-active="'1'"
             class="el-menu-demo"
             mode="horizontal"
    >
      <el-menu-item index="1"
                    @click="handleRoute('/planting')"
      >
        <span slot="title">
          Sadzenie
        </span>
      </el-menu-item>
      <el-menu-item index="2"
                    @click="handleRoute('/crop-rotation')"
                    disabled
      >
        <span slot="title">
          Płodozmian
        </span>
      </el-menu-item>
    </el-menu>
  </div>
</template>

<script src="./component.js"/>
<style src="./style.sass" lang="sass" scoped/>
